<div>
    <h1>hola mundo</h1>
    <input type="text" id="inputInfo"> <button id="sendInfo">enviar</button>
    <div id="outputInfo"></div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/inedex.js"></script>